html 
    head
        title= 'rsvp'
    body
        h1 RSVP Form
        form(action=actionPath, method='POST', enctype='application/x-www-form-urlencoded')
            label Name
                input(type="text" name='name')
            br
            label Email
                input(type="text" name='email')
                br
                label
                input(type="radio" name = 'attending' value='yes')
                | attending
                input(type="radio" name='attending' value='no')
                | not attending
                br
                label Number of Guests
                    select(name='number' value='number')
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                        option(value='6') 6
                        option(value='7') 7
                        option(value='8') 8
                    input(type="submit" value="submit")
    
